In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
import numpy as np

In [2]:
#reading the file
weather = pd.read_csv("/Users/angelika/Desktop/cs59970/1401011.csv", delimiter = ',', usecols = (5,24))

In [3]:
weather.head()

               DATE HOURLYPrecip
0  2008-01-01 00:51         0.00
1  2008-01-01 01:51         0.00
2  2008-01-01 02:51         0.00
3  2008-01-01 03:51         0.00
4  2008-01-01 04:51         0.00

In [4]:
weather.dtypes

DATE            object
HOURLYPrecip    object
dtype: object

In [5]:
# selecting time period of aug 2017
weather  = weather.loc[(weather.DATE >= '2017-08-01') & (weather.DATE < '2017-09-01') ]

In [6]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1006 entries, 114727 to 115732
Data columns (total 2 columns):
DATE            1006 non-null object
HOURLYPrecip    823 non-null object
dtypes: object(2)
memory usage: 23.6+ KB

In [7]:
# our data contains some na values. in addition some precip values contain 
# letter 'T' or 's'
# substitite them with 0 
weather['HOURLYPrecip'] = weather['HOURLYPrecip'].str.replace('T', '0')
weather['HOURLYPrecip'] = weather['HOURLYPrecip'].str.replace('s', '0')
weather.HOURLYPrecip = pd.to_numeric(weather.HOURLYPrecip)

In [8]:
weather = weather.fillna(0)

In [9]:
weather.DATE = pd.to_datetime(weather.DATE)

In [10]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1006 entries, 114727 to 115732
Data columns (total 2 columns):
DATE            1006 non-null datetime64[ns]
HOURLYPrecip    1006 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 23.6 KB

In [11]:
weather.head(100)

                      DATE  HOURLYPrecip
114727 2017-08-01 00:51:00          0.00
114728 2017-08-01 01:51:00          0.00
114729 2017-08-01 02:51:00          0.00
114730 2017-08-01 03:51:00          0.00
114731 2017-08-01 04:51:00          0.00
114732 2017-08-01 05:51:00          0.00
114733 2017-08-01 06:51:00          0.00
114734 2017-08-01 07:51:00          0.00
114735 2017-08-01 08:51:00          0.00
114736 2017-08-01 09:51:00          0.00
114737 2017-08-01 10:51:00          0.00
114738 2017-08-01 11:51:00          0.00
114739 2017-08-01 12:51:00          0.00
114740 2017-08-01 13:51:00          0.00
114741 2017-08-01 14:51:00          0.00
114742 2017-08-01 15:51:00          0.00
114743 2017-08-01 16:51:00          0.00
114744 2017-08-01 17:51:00          0.00
114745 2017-08-01 18:51:00          0.00
114746 2017-08-01 19:51:00          0.00
114747 2017-08-01 20:51:00          0.00
114748 2017-08-01 21:51:00          0.00
114749 2017-08-01 22:51:00          0.00
114750 2017-08-01 23:51:00          0.00
114751 2017-08-01 23:59:00          0.00
114752 2017-08-02 00:51:00          0.00
114753 2017-08-02 01:51:00          0.00
114754 2017-08-02 02:51:00          0.00
114755 2017-08-02 03:51:00          0.00
114756 2017-08-02 04:51:00          0.00
...                    ...           ...
114797 2017-08-03 14:51:00          0.00
114798 2017-08-03 15:51:00          0.00
114799 2017-08-03 16:51:00          0.00
114800 2017-08-03 17:51:00          0.00
114801 2017-08-03 18:51:00          0.00
114802 2017-08-03 19:51:00          0.00
114803 2017-08-03 20:51:00          0.00
114804 2017-08-03 21:51:00          0.00
114805 2017-08-03 22:51:00          0.00
114806 2017-08-03 23:51:00          0.00
114807 2017-08-03 23:59:00          0.00
114808 2017-08-04 00:51:00          0.00
114809 2017-08-04 01:51:00          0.00
114810 2017-08-04 02:51:00          0.00
114811 2017-08-04 03:51:00          0.00
114812 2017-08-04 04:51:00          0.00
114813 2017-08-04 05:51:00          0.00
114814 2017-08-04 06:07:00          0.02
114815 2017-08-04 06:14:00          0.04
114816 2017-08-04 06:30:00          0.06
114817 2017-08-04 06:40:00          0.15
114818 2017-08-04 06:46:00          0.15
114819 2017-08-04 06:49:00          0.00
114820 2017-08-04 06:51:00          0.15
114821 2017-08-04 07:51:00          0.00
114822 2017-08-04 08:51:00          0.00
114823 2017-08-04 09:31:00          0.00
114824 2017-08-04 09:40:00          0.00
114825 2017-08-04 09:51:00          0.00
114826 2017-08-04 10:51:00          0.00

[100 rows x 2 columns]

In [12]:
# all na and rendom strings filled with 0s
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1006 entries, 114727 to 115732
Data columns (total 2 columns):
DATE            1006 non-null datetime64[ns]
HOURLYPrecip    1006 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 23.6 KB

In [13]:
vis = pd.read_csv("/Users/angelika/Desktop/cs59970/1401011.csv", delimiter = ',', usecols = (5,8))

In [14]:
vis.head()

               DATE HOURLYVISIBILITY
0  2008-01-01 00:51            10.00
1  2008-01-01 01:51             9.00
2  2008-01-01 02:51            10.00
3  2008-01-01 03:51            10.00
4  2008-01-01 04:51             9.00

In [15]:
vis  = vis.loc[(vis.DATE >= '2017-08-01') & (vis.DATE <= '2017-09-01') ]

In [16]:
# we are going to fill na and string values with 15 so they will not
# influence our future model but still keep time slots
vis['HOURLYVISIBILITY'] = vis['HOURLYVISIBILITY'].str.replace('V', '15')
vis.HOURLYVISIBILITY = pd.to_numeric(vis.HOURLYVISIBILITY)

In [17]:
vis = vis.fillna(15)

In [18]:
vis.DATE = pd.to_datetime(vis.DATE)

In [19]:
vis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1006 entries, 114727 to 115732
Data columns (total 2 columns):
DATE                1006 non-null datetime64[ns]
HOURLYVISIBILITY    1006 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 23.6 KB

In [20]:
# all na and rendom strings filled with 15

In [21]:
wind = pd.read_csv("/Users/angelika/Desktop/cs59970/1401011.csv", delimiter = ',', usecols = (5,17))

In [22]:
wind.head()

               DATE  HOURLYWindSpeed
0  2008-01-01 00:51              0.0
1  2008-01-01 01:51              6.0
2  2008-01-01 02:51              6.0
3  2008-01-01 03:51              5.0
4  2008-01-01 04:51              5.0

In [23]:
wind  = wind.loc[(wind.DATE >= '2017-08-01') & (wind.DATE <= '2017-09-01') ]

In [24]:
wind.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1006 entries, 114727 to 115732
Data columns (total 2 columns):
DATE               1006 non-null object
HOURLYWindSpeed    926 non-null float64
dtypes: float64(1), object(1)
memory usage: 23.6+ KB

In [25]:
wind = wind.fillna(0)

In [26]:
wind.DATE = pd.to_datetime(wind.DATE)

In [27]:
wind.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1006 entries, 114727 to 115732
Data columns (total 2 columns):
DATE               1006 non-null datetime64[ns]
HOURLYWindSpeed    1006 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 23.6 KB

In [28]:
#all na values are filled with 0

In [ ]:
# data is ready to be used for creating a model
# there are 981 entries, date is in format: datetime64[ns]
# precip, visibility and windSpeed are in float64