In [46]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

mta_df = pd.read_csv('M100_month_W125_st.csv', error_bad_lines=False)

In [52]:
mta_df.sort_values("RecordedAtTime", inplace=True)
mta_df[50:60]

,RecordedAtTime,DirectionRef,PublishedLineName,OriginName,OriginLat,OriginLong,DestinationName,DestinationLat,DestinationLong,VehicleRef,...,VehicleLocation.Longitude,NextStopPointName,ArrivalProximityText,DistanceFromStop,ExpectedArrivalTime,ScheduledArrivalTime,time_delta,time_delta_mins,time_diff,time_diff_mins
50,2017-08-14 14:26:31,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4353,...,-73.952957,W 125 ST/ST NICHOLAS AV,at stop,8.0,2017-08-14 14:26:41,14:28:11,0 days 01:00:31.000000000,61,0 days 01:00:31.000000000,61
51,2017-08-14 15:06:31,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8382,...,-73.952820,W 125 ST/ST NICHOLAS AV,at stop,21.0,2017-08-14 15:06:46,15:08:11,0 days 00:40:05.000000000,41,0 days 00:40:05.000000000,41
52,2017-08-14 16:46:25,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4100,...,-73.952906,W 125 ST/ST NICHOLAS AV,at stop,13.0,NaN,16:47:11,NaN,0,NaN,0
53,2017-08-14 18:06:23,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4381,...,-73.952799,W 125 ST/ST NICHOLAS AV,at stop,23.0,2017-08-14 18:06:39,18:05:29,NaN,0,NaN,0
54,2017-08-14 18:46:07,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4384,...,-73.953043,W 125 ST/ST NICHOLAS AV,at stop,0.0,NaN,18:43:29,NaN,0,NaN,0
55,2017-08-15 10:07:05,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4374,...,-73.952947,W 125 ST/ST NICHOLAS AV,at stop,9.0,NaN,10:04:39,NaN,0,NaN,0
56,2017-08-15 13:27:34,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4360,...,-73.952794,W 125 ST/ST NICHOLAS AV,at stop,24.0,2017-08-15 13:27:50,13:29:20,NaN,0,NaN,0
57,2017-08-15 15:57:42,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4350,...,-73.953043,W 125 ST/ST NICHOLAS AV,at stop,0.0,2017-08-15 15:57:56,15:59:11,0 days 02:30:06.000000000,151,0 days 02:30:06.000000000,151
58,2017-08-16 09:29:21,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8359,...,-73.952831,W 125 ST/ST NICHOLAS AV,at stop,20.0,2017-08-16 09:29:42,09:30:39,0 days 17:31:46.000000000,1052,0 days 17:31:46.000000000,1052
59,2017-08-16 16:19:41,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4355,...,-73.953026,W 125 ST/ST NICHOLAS AV,at stop,1.0,NaN,16:23:11,NaN,0,NaN,0

In [56]:
def findNextBus(passengerArrival, mta_df):
    for index, row in mta_df.iterrows():
        if (pd.to_datetime(row['RecordedAtTime']) > passengerArrival[1]):
            return pd.to_datetime(row['RecordedAtTime'])

date_range = pd.date_range('2017-08-01', periods=60*24, freq='1min')
arrivals_df = pd.DataFrame()
arrivals_df['PassengerTime'] = i
arrivals_df['NextBus'] = findNextBus(arrivals_df['PassengerTime'], mta_df)
arrivals_df[900:925]

          PassengerTime             NextBus
900 2017-08-01 15:00:00 2017-08-01 07:51:49
901 2017-08-01 15:01:00 2017-08-01 07:51:49
902 2017-08-01 15:02:00 2017-08-01 07:51:49
903 2017-08-01 15:03:00 2017-08-01 07:51:49
904 2017-08-01 15:04:00 2017-08-01 07:51:49
905 2017-08-01 15:05:00 2017-08-01 07:51:49
906 2017-08-01 15:06:00 2017-08-01 07:51:49
907 2017-08-01 15:07:00 2017-08-01 07:51:49
908 2017-08-01 15:08:00 2017-08-01 07:51:49
909 2017-08-01 15:09:00 2017-08-01 07:51:49
910 2017-08-01 15:10:00 2017-08-01 07:51:49
911 2017-08-01 15:11:00 2017-08-01 07:51:49
912 2017-08-01 15:12:00 2017-08-01 07:51:49
913 2017-08-01 15:13:00 2017-08-01 07:51:49
914 2017-08-01 15:14:00 2017-08-01 07:51:49
915 2017-08-01 15:15:00 2017-08-01 07:51:49
916 2017-08-01 15:16:00 2017-08-01 07:51:49
917 2017-08-01 15:17:00 2017-08-01 07:51:49
918 2017-08-01 15:18:00 2017-08-01 07:51:49
919 2017-08-01 15:19:00 2017-08-01 07:51:49
920 2017-08-01 15:20:00 2017-08-01 07:51:49
921 2017-08-01 15:21:00 2017-08-01 07:51:49
922 2017-08-01 15:22:00 2017-08-01 07:51:49
923 2017-08-01 15:23:00 2017-08-01 07:51:49
924 2017-08-01 15:24:00 2017-08-01 07:51:49