# Cleaning and Merging Both Tables

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime, math

In [2]:
%%capture
mta = pd.read_csv('../../data/mta_1708.csv', error_bad_lines=False)
# mta.set_index('PublishedLineName', inplace=True)
m100 = mta.loc[(mta['PublishedLineName']== 'M100') & (mta['DestinationName'] == 'INWOOD 220 ST via AMSTERDAM via BWAY'),]

In [5]:
arrivals = m100.loc[m100['ArrivalProximityText']=='at stop']
arrivals.head(20)

,RecordedAtTime,DirectionRef,PublishedLineName,OriginName,OriginLat,OriginLong,DestinationName,DestinationLat,DestinationLong,VehicleRef,VehicleLocation.Latitude,VehicleLocation.Longitude,NextStopPointName,ArrivalProximityText,DistanceFromStop,ExpectedArrivalTime,ScheduledArrivalTime
1523,2017-08-01 00:11:39,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4349,40.859447,-73.922601,10 AV/HARLEM RIVER DR,at stop,18.0,2017-08-01 00:11:52,24:08:48
1762,2017-08-01 00:21:06,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4368,40.840707,-73.939571,ST NICHOLAS AV/W 167 ST,at stop,25.0,2017-08-01 00:21:16,24:14:01
3232,2017-08-01 00:41:29,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8375,40.804519,-73.937764,E 125 ST/LEXINGTON AV,at stop,3.0,NaN,24:38:03
3850,2017-08-01 00:51:52,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8375,40.814355,-73.955555,AMSTERDAM AV/W 126 ST,at stop,2.0,NaN,24:47:36
4423,2017-08-01 01:01:11,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8375,40.834044,-73.941169,AMSTERDAM AV/W 159 ST,at stop,21.0,NaN,24:58:27
13699,2017-08-01 05:21:36,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8368,40.807974,-73.945989,W 125 ST/MALCOLM X BL,at stop,0.0,2017-08-01 05:21:58,05:18:18
13700,2017-08-01 05:21:36,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8368,40.807974,-73.945989,W 125 ST/MALCOLM X BL,at stop,0.0,2017-08-01 05:21:58,05:18:52
13701,2017-08-01 05:21:36,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8368,40.807974,-73.945989,W 125 ST/MALCOLM X BL,at stop,0.0,2017-08-01 05:21:58,05:19:27
14605,2017-08-01 05:31:39,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8368,40.825603,-73.947335,AMSTERDAM AV/W 145 ST,at stop,3.0,2017-08-01 05:31:56,05:29:02
14606,2017-08-01 05:31:39,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8368,40.825603,-73.947335,AMSTERDAM AV/W 145 ST,at stop,3.0,2017-08-01 05:31:56,05:30:42
14607,2017-08-01 05:31:39,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8368,40.825603,-73.947335,AMSTERDAM AV/W 145 ST,at stop,3.0,2017-08-01 05:31:56,05:31:42
18114,2017-08-01 06:01:49,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8368,40.861462,-73.921121,10 AV/W 202 ST,at stop,4.0,2017-08-01 06:01:56,05:57:06
18115,2017-08-01 06:01:49,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8368,40.861462,-73.921121,10 AV/W 202 ST,at stop,4.0,2017-08-01 06:01:56,05:57:35
18116,2017-08-01 06:01:49,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8368,40.861462,-73.921121,10 AV/W 202 ST,at stop,4.0,2017-08-01 06:01:56,05:57:49
20136,2017-08-01 06:11:35,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4348,40.856928,-73.932520,BROADWAY/FAIRVIEW AV,at stop,8.0,NaN,06:07:20
20137,2017-08-01 06:11:35,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4348,40.856928,-73.932520,BROADWAY/FAIRVIEW AV,at stop,8.0,NaN,06:10:20
20138,2017-08-01 06:11:35,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4348,40.856928,-73.932520,BROADWAY/FAIRVIEW AV,at stop,8.0,NaN,06:11:49
24410,2017-08-01 06:41:31,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4363,40.825583,-73.947350,AMSTERDAM AV/W 145 ST,at stop,6.0,2017-08-01 06:41:40,06:43:03
26566,2017-08-01 06:51:52,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_8366,40.864740,-73.928743,BROADWAY/ARDEN ST,at stop,16.0,NaN,06:53:11
28170,2017-08-01 07:02:15,0,M100,1 AV/125 ST,40.801968,-73.931358,INWOOD 220 ST via AMSTERDAM via BWAY,40.871902,-73.913101,NYCT_4372,40.822433,-73.949653,AMSTERDAM AV/W 140 ST,at stop,0.0,NaN,06:59:58

In [3]:
new = arrivals.loc[:,['RecordedAtTime','VehicleRef']].sort_values(['VehicleRef', 'RecordedAtTime'], ascending=True)
uniqueRef = new['VehicleRef'].unique()
new.RecordedAtTime = pd.to_datetime(new.RecordedAtTime)

## Setting the time deltas only within the same vehicle refs
https://stackoverflow.com/questions/20648346/computing-diffs-within-groups-of-a-dataframe

In [4]:
new.sort_values(['VehicleRef', 'RecordedAtTime'], inplace=True)
new['diffs'] = new['RecordedAtTime'].diff()
mask = new.VehicleRef != new.VehicleRef.shift(1)
new['diffs'][mask] = np.nan
new

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

             RecordedAtTime VehicleRef           diffs
5010109 2017-08-23 10:01:19  NYCT_1202             NaT
5012297 2017-08-23 10:11:48  NYCT_1202 0 days 00:10:29
5044476 2017-08-23 12:51:31  NYCT_1202 0 days 02:39:43
5046521 2017-08-23 13:02:02  NYCT_1202 0 days 00:10:31
5048584 2017-08-23 13:11:27  NYCT_1202 0 days 00:09:25
5057010 2017-08-23 13:51:35  NYCT_1202 0 days 00:40:08
5090596 2017-08-23 16:12:27  NYCT_1202 0 days 02:20:52
5101690 2017-08-23 16:52:25  NYCT_1202 0 days 00:39:58
1394003 2017-08-07 09:33:42  NYCT_1206             NaT
1402955 2017-08-07 10:13:36  NYCT_1206 0 days 00:39:54
1405033 2017-08-07 10:23:36  NYCT_1206 0 days 00:10:00
4618276 2017-08-21 17:28:38  NYCT_1215             NaT
4664821 2017-08-21 20:49:16  NYCT_1215 0 days 03:20:38
4666396 2017-08-21 20:58:39  NYCT_1215 0 days 00:09:23
4667921 2017-08-21 21:08:35  NYCT_1215 0 days 00:09:56
4669357 2017-08-21 21:19:03  NYCT_1215 0 days 00:10:28
3192380 2017-08-15 08:57:47  NYCT_4099             NaT
3197640 2017-08-15 09:17:12  NYCT_4099 0 days 00:19:25
3202416 2017-08-15 09:37:44  NYCT_4099 0 days 00:20:32
3232754 2017-08-15 12:08:01  NYCT_4099 0 days 02:30:17
3281248 2017-08-15 15:47:19  NYCT_4099 0 days 03:39:18
3335690 2017-08-15 19:08:24  NYCT_4099 0 days 03:21:05
3338007 2017-08-15 19:18:22  NYCT_4099 0 days 00:09:58
3358121 2017-08-15 21:08:42  NYCT_4099 0 days 01:50:20
3359521 2017-08-15 21:18:39  NYCT_4099 0 days 00:09:57
3375494 2017-08-15 23:48:27  NYCT_4099 0 days 02:29:48
3376297 2017-08-15 23:58:20  NYCT_4099 0 days 00:09:53
3377064 2017-08-16 00:08:48  NYCT_4099 0 days 00:10:28
3664023 2017-08-17 07:41:05  NYCT_4099 1 days 07:32:17
3667022 2017-08-17 07:50:27  NYCT_4099 0 days 00:09:22
...                     ...        ...             ...
3730151 2017-08-17 12:20:39  NYCT_8398 0 days 00:39:11
3764452 2017-08-17 15:01:40  NYCT_8398 0 days 02:41:01
3769347 2017-08-17 15:21:33  NYCT_8398 0 days 00:19:53
3827167 2017-08-17 18:51:17  NYCT_8398 0 days 03:29:44
3834316 2017-08-17 19:21:39  NYCT_8398 0 days 00:30:22
5229288 2017-08-24 08:03:10  NYCT_8398 6 days 12:41:31
5238380 2017-08-24 08:33:40  NYCT_8398 0 days 00:30:30
5312342 2017-08-24 14:13:11  NYCT_8398 0 days 05:39:31
5316788 2017-08-24 14:34:07  NYCT_8398 0 days 00:20:56
5352831 2017-08-24 16:54:14  NYCT_8398 0 days 02:20:07
5398944 2017-08-24 20:04:15  NYCT_8398 0 days 03:10:01
5402645 2017-08-24 20:23:44  NYCT_8398 0 days 00:19:29
5433133 2017-08-25 01:14:02  NYCT_8398 0 days 04:50:18
5654068 2017-08-25 20:45:54  NYCT_8398 0 days 19:31:52
5659965 2017-08-25 21:25:32  NYCT_8398 0 days 00:39:38
5675760 2017-08-25 23:56:22  NYCT_8398 0 days 02:30:50
5681800 2017-08-26 01:46:12  NYCT_8398 0 days 01:49:50
6081897 2017-08-28 10:29:53  NYCT_8398 2 days 08:43:41
6164413 2017-08-28 16:41:03  NYCT_8398 0 days 06:11:10
6170110 2017-08-28 16:59:58  NYCT_8398 0 days 00:18:55
6220032 2017-08-28 20:21:15  NYCT_8398 0 days 03:21:17
6240270 2017-08-28 22:51:17  NYCT_8398 0 days 02:30:02
6319150 2017-08-29 09:32:25  NYCT_8398 0 days 10:41:08
6319151 2017-08-29 09:32:25  NYCT_8398 0 days 00:00:00
6344196 2017-08-29 11:32:23  NYCT_8398 0 days 01:59:58
6348162 2017-08-29 11:51:42  NYCT_8398 0 days 00:19:19
6381689 2017-08-29 14:32:31  NYCT_8398 0 days 02:40:49
6383995 2017-08-29 14:42:22  NYCT_8398 0 days 00:09:51
6435362 2017-08-29 17:51:27  NYCT_8398 0 days 03:09:05
6451714 2017-08-29 18:52:07  NYCT_8398 0 days 01:00:40

[5398 rows x 3 columns]

In [ ]:
new.dropna()
new = new[new.diffs > '02:00:00']
new

mta.describe()

# Saving our Progress/Merging Weather Data

In [3]:
%%capture
weather = pd.read_csv('../../data/1401011_weather_data.csv', error_bad_lines=False)

In [4]:
# weather.tail()

In [5]:
%%capture
m100 = pd.read_csv('../../data/M100_Features.csv', error_bad_lines=False)

In [6]:
m100.tail()

,Unnamed: 0,RecordedAtTime,VehicleRef,timeDelta,Day,Hour,Min,Sec
5393,5393,2017-08-29 19:32:56,NYCT_8363,0 days 00:09:59,29,19,32,56
5394,5394,2017-08-29 19:32:59,NYCT_8389,0 days 00:10:28,29,19,32,59
5395,5395,2017-08-29 19:42:01,NYCT_4375,0 days 02:50:12,29,19,42,1
5396,5396,2017-08-29 19:42:01,NYCT_4375,0 days 00:00:00,29,19,42,1
5397,5397,2017-08-29 19:42:32,NYCT_8375,0 days 02:20:49,29,19,42,32

## Data Cleaning
Credit: Angelika

In [7]:
newWeather = weather[['DATE','HOURLYVISIBILITY', 'HOURLYWindSpeed', 'HOURLYPrecip']]

In [8]:
newWeather = newWeather.dropna()
newWeather = newWeather[~newWeather.HOURLYPrecip.str.contains("T")]
newWeather = newWeather[~newWeather.HOURLYPrecip.str.contains("s")]

In [9]:
newWeather = newWeather[~newWeather.HOURLYVISIBILITY.str.contains("V")]
newWeather.HOURLYVISIBILITY=pd.to_numeric(newWeather.HOURLYVISIBILITY)

This is a function that combines the weather and bus tables into one based on the day of the month and the hour of the day. We'll call this function after we've cleaned up the weather tables.

In [10]:
'''
    @params:
        weather: weather table
        bus: bus table
''' 

def mergeOnDateTime(bus, weather):
    weather['DATE'] = pd.to_datetime(weather['DATE'])
    bus['RecordedAtTime'] = pd.to_datetime(bus['RecordedAtTime'])
    
    weather['stringTime'] = weather['DATE'].apply(lambda x: x.strftime('%Y-%m-%d %H'))
    bus['stringTime'] = bus['RecordedAtTime'].apply(lambda x: x.strftime('%Y-%m-%d %H'))
    
    newTable = pd.merge(left=bus, right=weather,  how='inner', on=['stringTime'])
    
    newTable.drop(columns=['stringTime', 'DATE'], inplace=True, axis=1)
    
    return newTable

In [11]:
# Time gate to August

newWeather = newWeather[(newWeather['DATE'] > '2017-08-01') & (newWeather['DATE'] < '2017-09-01')].reset_index().dropna()

We'll enforce the datatype on the Precipitation and Visibility to floats.

In [12]:

# Fix some data types
newWeather['HOURLYPrecip'] = pd.to_numeric(newWeather['HOURLYPrecip'], downcast='float', errors='coerce')
newWeather['HOURLYVISIBILITY'] = pd.to_numeric(newWeather['HOURLYVISIBILITY'], downcast='float', errors='coerce')
# Bound hour of day
# newWeather = newWeather[(newWeather['HOUR'] > 4) & (newWeather['HOUR'] < 20)]
newWeather.reset_index()
newWeather.drop(columns=['index'], inplace=True, axis=1)

In [13]:
newWeather.dtypes
newWeather.shape

(759, 4)

In [14]:
m100.dtypes
m100.shape

(5398, 8)

Using the function above, we merge both the tables into one

In [15]:
df = mergeOnDateTime(m100, newWeather)

In [16]:
df.head()
df.dtypes

Unnamed: 0                   int64
RecordedAtTime      datetime64[ns]
VehicleRef                  object
timeDelta                   object
Day                          int64
Hour                         int64
Min                          int64
Sec                          int64
HOURLYVISIBILITY           float32
HOURLYWindSpeed            float64
HOURLYPrecip               float32
dtype: object

In [18]:
df.sort_values(['RecordedAtTime'], inplace=True)

Redoing time deltas

In [19]:
df['timeTillNext'] = df['RecordedAtTime'].diff().dt.total_seconds()
df['timeTillNext'] = df['timeTillNext'].shift(-1).apply(lambda x: x/60)
df['timeTillNext'] = pd.to_numeric(df['timeTillNext'])

In [20]:
%%capture

df.drop(columns='Unnamed: 0', inplace=True, axis=1)

In [21]:
df.reset_index()

,index,RecordedAtTime,VehicleRef,timeDelta,Day,Hour,Min,Sec,HOURLYVISIBILITY,HOURLYWindSpeed,HOURLYPrecip,timeTillNext
0,0,2017-08-01 00:11:39,NYCT_4349,0,1,0,11,39,10.0,3.0,0.00,9.450000
1,1,2017-08-01 00:21:06,NYCT_4368,NaN,1,0,21,6,10.0,3.0,0.00,20.383333
2,2,2017-08-01 00:41:29,NYCT_8375,NaN,1,0,41,29,10.0,3.0,0.00,10.383333
3,3,2017-08-01 00:51:52,NYCT_8375,0 days 00:10:23,1,0,51,52,10.0,3.0,0.00,9.316667
4,4,2017-08-01 01:01:11,NYCT_8375,0 days 00:09:19,1,1,1,11,10.0,0.0,0.00,260.416667
5,5,2017-08-01 05:21:36,NYCT_8368,NaN,1,5,21,36,10.0,0.0,0.00,0.000000
6,6,2017-08-01 05:21:36,NYCT_8368,0 days 00:00:00,1,5,21,36,10.0,0.0,0.00,0.000000
7,7,2017-08-01 05:21:36,NYCT_8368,0 days 00:00:00,1,5,21,36,10.0,0.0,0.00,10.050000
8,10,2017-08-01 05:31:39,NYCT_8368,0 days 00:00:00,1,5,31,39,10.0,0.0,0.00,0.000000
9,9,2017-08-01 05:31:39,NYCT_8368,0 days 00:00:00,1,5,31,39,10.0,0.0,0.00,0.000000
10,8,2017-08-01 05:31:39,NYCT_8368,0 days 00:10:03,1,5,31,39,10.0,0.0,0.00,30.166667
11,11,2017-08-01 06:01:49,NYCT_8368,0 days 00:30:10,1,6,1,49,10.0,0.0,0.00,0.000000
12,12,2017-08-01 06:01:49,NYCT_8368,0 days 00:00:00,1,6,1,49,10.0,0.0,0.00,0.000000
13,13,2017-08-01 06:01:49,NYCT_8368,0 days 00:00:00,1,6,1,49,10.0,0.0,0.00,9.766667
14,14,2017-08-01 06:11:35,NYCT_4348,NaN,1,6,11,35,10.0,0.0,0.00,0.000000
15,15,2017-08-01 06:11:35,NYCT_4348,0 days 00:00:00,1,6,11,35,10.0,0.0,0.00,0.000000
16,16,2017-08-01 06:11:35,NYCT_4348,0 days 00:00:00,1,6,11,35,10.0,0.0,0.00,29.933333
17,17,2017-08-01 06:41:31,NYCT_4363,NaN,1,6,41,31,10.0,0.0,0.00,10.350000
18,18,2017-08-01 06:51:52,NYCT_8366,NaN,1,6,51,52,10.0,0.0,0.00,10.383333
19,19,2017-08-01 07:02:15,NYCT_4372,NaN,1,7,2,15,10.0,5.0,0.00,8.983333
20,20,2017-08-01 07:11:14,NYCT_8391,NaN,1,7,11,14,10.0,5.0,0.00,11.066667
21,21,2017-08-01 07:22:18,NYCT_4362,NaN,1,7,22,18,10.0,5.0,0.00,0.083333
22,22,2017-08-01 07:22:23,NYCT_8368,0 days 01:20:34,1,7,22,23,10.0,5.0,0.00,0.000000
23,23,2017-08-01 07:22:23,NYCT_8368,0 days 00:00:00,1,7,22,23,10.0,5.0,0.00,0.000000
24,24,2017-08-01 07:22:23,NYCT_8368,0 days 00:00:00,1,7,22,23,10.0,5.0,0.00,19.916667
25,25,2017-08-01 07:42:18,NYCT_4393,NaN,1,7,42,18,10.0,5.0,0.00,9.516667
26,26,2017-08-01 07:51:49,NYCT_8368,0 days 00:29:26,1,7,51,49,10.0,5.0,0.00,0.000000
27,27,2017-08-01 07:51:49,NYCT_8368,0 days 00:00:00,1,7,51,49,10.0,5.0,0.00,0.000000
28,28,2017-08-01 07:51:49,NYCT_8368,0 days 00:00:00,1,7,51,49,10.0,5.0,0.00,0.150000
29,29,2017-08-01 07:51:58,NYCT_8391,0 days 00:40:44,1,7,51,58,10.0,5.0,0.00,10.033333
...,...,...,...,...,...,...,...,...,...,...,...,...
5697,5697,2017-08-29 16:51:49,NYCT_4375,0 days 00:29:15,29,16,51,49,7.0,9.0,0.01,0.000000
5698,5698,2017-08-29 16:51:49,NYCT_4375,0 days 00:29:15,29,16,51,49,10.0,10.0,0.02,0.366667
5699,5699,2017-08-29 16:52:11,NYCT_4348,0 days 00:19:46,29,16,52,11,7.0,9.0,0.01,0.000000
5700,5700,2017-08-29 16:52:11,NYCT_4348,0 days 00:19:46,29,16,52,11,10.0,10.0,0.02,70.366667
5701,5701,2017-08-29 18:02:33,NYCT_8386,0 days 03:50:20,29,18,2,33,10.0,9.0,0.01,0.250000
5702,5702,2017-08-29 18:02:48,NYCT_8390,0 days 02:51:02,29,18,2,48,10.0,9.0,0.01,0.050000
5703,5703,2017-08-29 18:02:51,NYCT_4402,0 days 02:20:41,29,18,2,51,10.0,9.0,0.01,9.800000
5704,5704,2017-08-29 18:12:39,NYCT_8390,0 days 00:09:51,29,18,12,39,10.0,9.0,0.01,0.116667
5705,5705,2017-08-29 18:12:46,NYCT_4403,0 days 00:30:51,29,18,12,46,10.0,9.0,0.01,0.050000
5706,5706,2017-08-29 18:12:49,NYCT_4402,0 days 00:09:58,29,18,12,49,10.0,9.0,0.01,8.916667
5707,5707,2017-08-29 18:21:44,NYCT_8373,0 days 02:59:10,29,18,21,44,10.0,9.0,0.01,0.183333
5708,5708,2017-08-29 18:21:55,NYCT_4402,0 days 00:09:06,29,18,21,55,10.0,9.0,0.01,0.166667
5709,5709,2017-08-29 18:22:05,NYCT_8386,0 days 00:19:32,29,18,22,5,10.0,9.0,0.01,0.116667
5710,5710,2017-08-29 18:22:12,NYCT_4403,0 days 00:09:26,29,18,22,12,10.0,9.0,0.01,10.383333
5711,5711,2017-08-29 18:32:35,NYCT_8383,0 days 03:01:00,29,18,32,35,10.0,9.0,0.01,0.183333
5712,5712,2017-08-29 18:32:46,NYCT_8377,0 days 00:41:12,29,18,32,46,10.0,9.0,0.01,9.916667
5713,5713,2017-08-29 18:42:41,NYCT_4372,0 days 02:50:14,29,18,42,41,10.0,9.0,0.01,0.166667
5714,5714,2017-08-29 18:42:51,NYCT_8390,0 days 00:30:12,29,18,42,51,10.0,9.0,0.01,9.266667
5715,5715,2017-08-29 18:52:07,NYCT_8398,0 days 01:00:40,29,18,52,7,10.0,9.0,0.01,9.966667
5716,5716,2017-08-29 19:02:05,NYCT_8373,0 days 00:40:21,29,19,2,5,8.0,8.0,0.02,9.866667
5717,5717,2017-08-29 19:11:57,NYCT_8376,0 days 03:09:37,29,19,11,57,8.0,8.0,0.02,0.150000
5718,5718,2017-08-29 19:12:06,NYCT_8389,0 days 02:39:29,29,19,12,6,8.0,8.0,0.02,10.416667
5719,5719,2017-08-29 19:22:31,NYCT_8389,0 days 00:10:25,29,19,22,31,8.0,8.0,0.02,0.433333
5720,5720,2017-08-29 19:22:57,NYCT_8363,0 days 03:30:27,29,19,22,57,8.0,8.0,0.02,0.016667
5721,5721,2017-08-29 19:22:58,NYCT_8376,0 days 00:11:01,29,19,22,58,8.0,8.0,0.02,9.966667
5722,5722,2017-08-29 19:32:56,NYCT_8363,0 days 00:09:59,29,19,32,56,8.0,8.0,0.02,0.050000
5723,5723,2017-08-29 19:32:59,NYCT_8389,0 days 00:10:28,29,19,32,59,8.0,8.0,0.02,9.033333
5724,5725,2017-08-29 19:42:01,NYCT_4375,0 days 00:00:00,29,19,42,1,8.0,8.0,0.02,0.000000
5725,5724,2017-08-29 19:42:01,NYCT_4375,0 days 02:50:12,29,19,42,1,8.0,8.0,0.02,0.516667
5726,5726,2017-08-29 19:42:32,NYCT_8375,0 days 02:20:49,29,19,42,32,8.0,8.0,0.02,NaN

In [22]:
%%capture
df.drop(columns=['index'], inplace=True, axis=1)

KeyError: "['index'] not found in axis"

In [23]:
df.drop(columns=['timeDelta'], inplace=True, axis=1)
df.timeDelta.dropna(how='any')

AttributeError: 'DataFrame' object has no attribute 'timeDelta'

In [24]:
df.drop_duplicates()
df.dtypes

RecordedAtTime      datetime64[ns]
VehicleRef                  object
Day                          int64
Hour                         int64
Min                          int64
Sec                          int64
HOURLYVISIBILITY           float32
HOURLYWindSpeed            float64
HOURLYPrecip               float32
timeTillNext               float64
dtype: object

Now we can see that the rows have a corresponding `timeDelta` in which we calculate the next bus arrival in minutes for the next arrival.

### Saving our Model

In [25]:
df.to_csv('../../data/Merged_Bus_Weather.csv')