In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime, math

In [43]:
%%capture
mta = pd.read_csv('origData/mta_1708.csv', error_bad_lines=False)
# mta.set_index('PublishedLineName', inplace=True)
m100 = mta.loc[(mta['PublishedLineName']== 'M100') & (mta['DestinationName'] == 'INWOOD 220 ST via AMSTERDAM via BWAY'),]
arrivals = m100.loc[m100['ArrivalProximityText']=='at stop']
arrivals.head(20)

In [71]:
new = arrivals.loc[:,['RecordedAtTime','VehicleRef']].sort_values(['VehicleRef', 'RecordedAtTime'], ascending=True)
uniqueRef = new['VehicleRef'].unique()
new.RecordedAtTime = pd.to_datetime(new.RecordedAtTime)

## Setting the time deltas only within the same vehicle refs
https://stackoverflow.com/questions/20648346/computing-diffs-within-groups-of-a-dataframe

In [72]:
new.sort_values(['VehicleRef', 'RecordedAtTime'], inplace=True)
new['diffs'] = new['RecordedAtTime'].diff()
mask = new.VehicleRef != new.VehicleRef.shift(1)
new['diffs'][mask] = np.nan
new

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

             RecordedAtTime VehicleRef           diffs
5010109 2017-08-23 10:01:19  NYCT_1202             NaT
5012297 2017-08-23 10:11:48  NYCT_1202 0 days 00:10:29
5044476 2017-08-23 12:51:31  NYCT_1202 0 days 02:39:43
5046521 2017-08-23 13:02:02  NYCT_1202 0 days 00:10:31
5048584 2017-08-23 13:11:27  NYCT_1202 0 days 00:09:25
5057010 2017-08-23 13:51:35  NYCT_1202 0 days 00:40:08
5090596 2017-08-23 16:12:27  NYCT_1202 0 days 02:20:52
5101690 2017-08-23 16:52:25  NYCT_1202 0 days 00:39:58
1394003 2017-08-07 09:33:42  NYCT_1206             NaT
1402955 2017-08-07 10:13:36  NYCT_1206 0 days 00:39:54
1405033 2017-08-07 10:23:36  NYCT_1206 0 days 00:10:00
4618276 2017-08-21 17:28:38  NYCT_1215             NaT
4664821 2017-08-21 20:49:16  NYCT_1215 0 days 03:20:38
4666396 2017-08-21 20:58:39  NYCT_1215 0 days 00:09:23
4667921 2017-08-21 21:08:35  NYCT_1215 0 days 00:09:56
4669357 2017-08-21 21:19:03  NYCT_1215 0 days 00:10:28
3192380 2017-08-15 08:57:47  NYCT_4099             NaT
3197640 2017-08-15 09:17:12  NYCT_4099 0 days 00:19:25
3202416 2017-08-15 09:37:44  NYCT_4099 0 days 00:20:32
3232754 2017-08-15 12:08:01  NYCT_4099 0 days 02:30:17
3281248 2017-08-15 15:47:19  NYCT_4099 0 days 03:39:18
3335690 2017-08-15 19:08:24  NYCT_4099 0 days 03:21:05
3338007 2017-08-15 19:18:22  NYCT_4099 0 days 00:09:58
3358121 2017-08-15 21:08:42  NYCT_4099 0 days 01:50:20
3359521 2017-08-15 21:18:39  NYCT_4099 0 days 00:09:57
3375494 2017-08-15 23:48:27  NYCT_4099 0 days 02:29:48
3376297 2017-08-15 23:58:20  NYCT_4099 0 days 00:09:53
3377064 2017-08-16 00:08:48  NYCT_4099 0 days 00:10:28
3664023 2017-08-17 07:41:05  NYCT_4099 1 days 07:32:17
3667022 2017-08-17 07:50:27  NYCT_4099 0 days 00:09:22
...                     ...        ...             ...
3730151 2017-08-17 12:20:39  NYCT_8398 0 days 00:39:11
3764452 2017-08-17 15:01:40  NYCT_8398 0 days 02:41:01
3769347 2017-08-17 15:21:33  NYCT_8398 0 days 00:19:53
3827167 2017-08-17 18:51:17  NYCT_8398 0 days 03:29:44
3834316 2017-08-17 19:21:39  NYCT_8398 0 days 00:30:22
5229288 2017-08-24 08:03:10  NYCT_8398 6 days 12:41:31
5238380 2017-08-24 08:33:40  NYCT_8398 0 days 00:30:30
5312342 2017-08-24 14:13:11  NYCT_8398 0 days 05:39:31
5316788 2017-08-24 14:34:07  NYCT_8398 0 days 00:20:56
5352831 2017-08-24 16:54:14  NYCT_8398 0 days 02:20:07
5398944 2017-08-24 20:04:15  NYCT_8398 0 days 03:10:01
5402645 2017-08-24 20:23:44  NYCT_8398 0 days 00:19:29
5433133 2017-08-25 01:14:02  NYCT_8398 0 days 04:50:18
5654068 2017-08-25 20:45:54  NYCT_8398 0 days 19:31:52
5659965 2017-08-25 21:25:32  NYCT_8398 0 days 00:39:38
5675760 2017-08-25 23:56:22  NYCT_8398 0 days 02:30:50
5681800 2017-08-26 01:46:12  NYCT_8398 0 days 01:49:50
6081897 2017-08-28 10:29:53  NYCT_8398 2 days 08:43:41
6164413 2017-08-28 16:41:03  NYCT_8398 0 days 06:11:10
6170110 2017-08-28 16:59:58  NYCT_8398 0 days 00:18:55
6220032 2017-08-28 20:21:15  NYCT_8398 0 days 03:21:17
6240270 2017-08-28 22:51:17  NYCT_8398 0 days 02:30:02
6319150 2017-08-29 09:32:25  NYCT_8398 0 days 10:41:08
6319151 2017-08-29 09:32:25  NYCT_8398 0 days 00:00:00
6344196 2017-08-29 11:32:23  NYCT_8398 0 days 01:59:58
6348162 2017-08-29 11:51:42  NYCT_8398 0 days 00:19:19
6381689 2017-08-29 14:32:31  NYCT_8398 0 days 02:40:49
6383995 2017-08-29 14:42:22  NYCT_8398 0 days 00:09:51
6435362 2017-08-29 17:51:27  NYCT_8398 0 days 03:09:05
6451714 2017-08-29 18:52:07  NYCT_8398 0 days 01:00:40

[5398 rows x 3 columns]

In [73]:
new.dropna()
new = new[new.diffs > '02:00:00']
new

             RecordedAtTime VehicleRef            diffs
5044476 2017-08-23 12:51:31  NYCT_1202  0 days 02:39:43
5090596 2017-08-23 16:12:27  NYCT_1202  0 days 02:20:52
4664821 2017-08-21 20:49:16  NYCT_1215  0 days 03:20:38
3232754 2017-08-15 12:08:01  NYCT_4099  0 days 02:30:17
3281248 2017-08-15 15:47:19  NYCT_4099  0 days 03:39:18
3335690 2017-08-15 19:08:24  NYCT_4099  0 days 03:21:05
3375494 2017-08-15 23:48:27  NYCT_4099  0 days 02:29:48
3664023 2017-08-17 07:41:05  NYCT_4099  1 days 07:32:17
3708439 2017-08-17 10:31:16  NYCT_4099  0 days 02:20:19
3753207 2017-08-17 14:11:42  NYCT_4099  0 days 03:10:34
3799418 2017-08-17 17:11:30  NYCT_4099  0 days 02:59:48
3845333 2017-08-17 20:11:46  NYCT_4099  0 days 03:00:16
3877953 2017-08-18 01:12:26  NYCT_4099  0 days 05:00:40
4187502 2017-08-19 12:24:43  NYCT_4099  1 days 11:12:17
4258772 2017-08-19 18:44:57  NYCT_4099  0 days 06:20:14
4284059 2017-08-19 21:34:52  NYCT_4099  0 days 02:09:43
5482586 2017-08-25 08:25:09  NYCT_4099  5 days 10:50:17
5560963 2017-08-25 14:24:38  NYCT_4099  0 days 05:19:37
5662699 2017-08-25 21:46:05  NYCT_4099  0 days 07:21:27
5677316 2017-08-26 00:16:19  NYCT_4099  0 days 02:00:30
6024774 2017-08-28 06:50:19  NYCT_4099  2 days 06:34:00
6069024 2017-08-28 09:30:21  NYCT_4099  0 days 02:00:21
6101874 2017-08-28 12:10:22  NYCT_4099  0 days 02:00:44
6153645 2017-08-28 16:00:11  NYCT_4099  0 days 03:10:33
6205876 2017-08-28 19:10:19  NYCT_4099  0 days 02:29:17
713117  2017-08-03 19:46:50  NYCT_4100  0 days 07:10:45
1026361 2017-08-05 08:19:18  NYCT_4100  1 days 12:32:28
1050143 2017-08-05 11:00:13  NYCT_4100  0 days 02:40:55
1114867 2017-08-05 16:50:36  NYCT_4100  0 days 05:10:56
1152730 2017-08-05 20:30:20  NYCT_4100  0 days 03:19:41
...                     ...        ...              ...
2667208 2017-08-12 15:53:07  NYCT_8397  0 days 02:40:50
2697673 2017-08-12 18:32:42  NYCT_8397  0 days 02:39:35
2726694 2017-08-12 21:43:22  NYCT_8397  0 days 02:29:55
6054372 2017-08-28 08:39:04  NYCT_8397 15 days 10:55:42
6091003 2017-08-28 11:20:36  NYCT_8397  0 days 02:10:35
6134708 2017-08-28 14:49:58  NYCT_8397  0 days 03:19:27
913638  2017-08-04 16:27:55  NYCT_8398  0 days 06:00:01
966908  2017-08-04 19:49:20  NYCT_8398  0 days 03:21:25
1042025 2017-08-05 10:09:45  NYCT_8398  0 days 14:20:25
1102938 2017-08-05 15:50:26  NYCT_8398  0 days 05:10:43
1139926 2017-08-05 19:10:50  NYCT_8398  0 days 03:20:24
3646316 2017-08-17 06:30:57  NYCT_8398 11 days 11:20:07
3687477 2017-08-17 09:01:20  NYCT_8398  0 days 02:30:23
3720255 2017-08-17 11:31:01  NYCT_8398  0 days 02:29:41
3764452 2017-08-17 15:01:40  NYCT_8398  0 days 02:41:01
3827167 2017-08-17 18:51:17  NYCT_8398  0 days 03:29:44
5229288 2017-08-24 08:03:10  NYCT_8398  6 days 12:41:31
5312342 2017-08-24 14:13:11  NYCT_8398  0 days 05:39:31
5352831 2017-08-24 16:54:14  NYCT_8398  0 days 02:20:07
5398944 2017-08-24 20:04:15  NYCT_8398  0 days 03:10:01
5433133 2017-08-25 01:14:02  NYCT_8398  0 days 04:50:18
5654068 2017-08-25 20:45:54  NYCT_8398  0 days 19:31:52
5675760 2017-08-25 23:56:22  NYCT_8398  0 days 02:30:50
6081897 2017-08-28 10:29:53  NYCT_8398  2 days 08:43:41
6164413 2017-08-28 16:41:03  NYCT_8398  0 days 06:11:10
6220032 2017-08-28 20:21:15  NYCT_8398  0 days 03:21:17
6240270 2017-08-28 22:51:17  NYCT_8398  0 days 02:30:02
6319150 2017-08-29 09:32:25  NYCT_8398  0 days 10:41:08
6381689 2017-08-29 14:32:31  NYCT_8398  0 days 02:40:49
6435362 2017-08-29 17:51:27  NYCT_8398  0 days 03:09:05

[2225 rows x 3 columns]

mta.describe()